.box {
  width: 1000px;
  border: 1px solid red;
}
.box .container {
  width: 100%;
  margin: 0 auto;
}
.box .container h2 {
  text-align: center;
  width: 100%;
}
.box .container hr {
  height: 3px;
  background-color: red;
  width: 100%;
}
.box .container .swiper1,
.box .container .swiper5 {
  width: 1000px;
}
.box .container .swiper1 .swiper-wrapper .swiper-slide > img,
.box .container .swiper5 .swiper-wrapper .swiper-slide > img {
  width: 1000px;
  height: 300px;
}
.box .container .swiper2 {
  width: 400px;
}
.box .container .swiper2 .swiper-wrapper .swiper-slide > img {
  width: 400px;
  height: 300px;
}
.box .container .swiper3 {
  width: 1000px;
}
.box .container .swiper3 .swiper-wrapper .swiper-slide > img {
  width: 400px;
  height: 400px;
}
.box .container .swiper4 {
  width: 600px;
}
.box .container .swiper4 .swiper-wrapper .swiper-slide > img {
  width: 600px;
  height: 400px;
}
